[run]
branch = True

[report]
omit =
    pynq/lib/arduino/*
    pynq/lib/logictools/*
    pynq/lib/pmod/*
    pynq/lib/pybind11/*
    pynq/lib/pynqmicroblaze/*
    pynq/lib/rpi/*
    pynq/lib/tests/*
    pynq/lib/video/*
    pynq/lib/audio.py
    pynq/lib/button.py
    pynq/lib/dma.py
    pynq/lib/iic.py
    pynq/lib/led.py
    pynq/lib/rgbled.py
    pynq/lib/switch.py
    pynq/lib/wifi.py
    pynq/ert.py
    pynq/xclbin.py
    pynq/tinynumpy.py
    pynq/_cli/*
