# include top-level files
include *.md
include LICENSE
include THIRD_PARTY_LIC

# include all the boards; exclude hardware and petalinux related files
recursive-include boards *
prune boards/ip
prune boards/sw_repo
prune boards/*/petalinux_bsp
prune boards/*/packages
prune boards/*/*/vivado
prune boards/*/*/base
prune boards/*/*/logictools
prune boards/*/*/NA

recursive-exclude boards/*/* makefile
recursive-exclude boards/* *.spec *.bsp *.hdf *.dsa *.xsa *.log *.jou

# include notebooks and images in docs folder
include docs/source/*.ipynb
include docs/source/getting_started/*.ipynb
recursive-include docs/source/images *

# include misc files
include pynq/devices/default.xclbin
