# include top-level files
include *.md
include LICENSE
include THIRD_PARTY_LIC

# include all the boards; exclude hardware and petalinux related files
recursive-include boards *
prune boards/ip
prune boards/sw_repo
prune boards/*/petalinux_bsp
prune boards/*/packages
prune boards/*/*/vivado
recursive-exclude boards/*/* makefile
recursive-exclude boards/* *.spec *.bsp *.hdf *.dsa *.xsa

# include notebooks and images in docs folder
include docs/source/*.ipynb
recursive-include docs/source/images *
