[General]
debootstrap=Bionic 
aptsources=Bionic 
arch=armhf
allowrecommends=true
addimportant=true

[Bionic]
source=http://ports.ubuntu.com/ubuntu-ports
suite=bionic universe
keyring=ubuntu-keyring
packages=python3-networkx python3-lxml python3-numexpr
packages=python3-transitions python3-sympy
packages=python3-sqlalchemy python3-pytest
packages=python3-pytest-sourceorder python3-uvloop jupyter-notebook
packages=jupyter-nbconvert jupyter-nbextension-jupyter-js-widgets
packages=jupyter-nbformat python3-retrying npm openjdk-8-jdk
packages=python3-nbconvert python3-nbformat python3-nbsphinx python3-scipy
packages=python3-cffi python3-pil phantomjs python3-matplotlib
packages=python3-notebook python3-pygraphviz python3-setuptools python3-pip
packages=2ping adduser alex apt apt-utils attr autoconf autoconf-archive
packages=automake autotools-dev base-files base-passwd bash bash-completion
packages=binfmt-support binutils bison blt bsdmainutils bsdutils
packages=build-essential bzip2 ca-certificates check cmake cmake-data
packages=coreutils cpp cpp-5 cpufrequtils cron curl dash dbus dbus-x11
packages=debconf debhelper debianutils dh-python diffutils dmsetup dpkg
packages=dpkg-dev e2fslibs e2fsprogs ethtool fakeroot file findutils flex
packages=fontconfig fontconfig-config fonts-dejavu-core fonts-lmodern
packages=fonts-texgyre fswebcam g++ g++-5 gawk gcc gcc-5 gcc-5-base gettext
packages=gettext-base gfortran gfortran-5 gir1.2-atk-1.0 gir1.2-freedesktop
packages=gir1.2-gdkpixbuf-2.0 gir1.2-glib-2.0 gir1.2-gtk-2.0 gir1.2-pango-1.0
packages=git git-man gnupg gperf gpgv grep groff-base gsfonts gyp gzip happy
packages=help2man hicolor-icon-theme hostname hscolour htop i2c-tools
packages=icu-devtools ifupdown init init-system-helpers intltool-debian
packages=iproute2 iputils-ping isc-dhcp-client isc-dhcp-common iso-codes
packages=javascript-common kmod krb5-locales language-pack-en
packages=language-pack-en-base less libaacs0 libacl1 libaio1
packages=libalgorithm-c3-perl libalgorithm-diff-perl libalgorithm-diff-xs-perl
packages=libalgorithm-merge-perl libapparmor1 libarchive-extract-perl
packages=libarchive13 libasan2 libasn1-8-heimdal libasprintf-dev
packages=libasprintf0v5 libatk1.0-0 libatk1.0-data libatk1.0-dev
packages=libatlas-base-dev libatlas3-base libatm1 libatomic1 libattr1
packages=libaudit-common libaudit1 libavahi-client3 libavahi-common-data
packages=libavahi-common3 libavcodec-dev libavformat-dev libavutil-dev
packages=libb-hooks-endofscope-perl libb-hooks-op-check-perl
packages=libbareword-filehandles-perl libbdplus0 libbison-dev libblas-dev
packages=libblas3 libblkid1 libboost-atomic-dev libboost-chrono-dev
packages=libboost-date-time-dev libboost-filesystem-dev
packages=libboost-serialization-dev libboost-system-dev libboost-test-dev
packages=libboost-thread-dev libboost-dev libbsd-dev libbsd0 libbz2-1.0
packages=libc-ares-dev libc-ares2 libc-bin libc-dev-bin libcairo-gobject2
packages=libcairo-script-interpreter2 libcairo2 libcairo2-dev libcap-ng0
packages=libcap2 libcap2-bin libcc1-0 libcgi-fast-perl libcgi-pm-perl
packages=libclass-c3-perl libclass-c3-xs-perl libclass-method-modifiers-perl
packages=libclass-xsaccessor-perl libcomerr2 libcpan-changes-perl
packages=libcpan-meta-perl libcpufreq0 libcroco3 libcups2 libcupsfilters1
packages=libcupsimage2 libcurl4 libcurl3-gnutls libdata-optlist-perl
packages=libdata-perl-perl libdata-section-perl libdatrie1 libdb5.3
packages=libdbus-1-3 libdbus-glib-1-2 libdc1394-22 libdc1394-22-dev
packages=libdebconfclient0 libdevel-caller-perl
packages=libdevel-globaldestruction-perl libdevel-lexalias-perl
packages=libdevmapper1.02.1 libdpkg-perl libdrm-amdgpu1 libdrm-dev libdrm2
packages=libedit2 libelf1 libencode-locale-perl liberror-perl libestr0
packages=libexpat1 libexpat1-dev libexporter-tiny-perl libfakeroot
packages=libfcgi-perl libfdisk1 libffi-dev libffi6 libfile-basedir-perl
packages=libfile-copy-recursive-perl libfile-desktopentry-perl
packages=libfile-fcntllock-perl libfile-homedir-perl libfile-listing-perl
packages=libfile-mimeinfo-perl libfile-slurp-perl libfile-which-perl libfl-dev
packages=libfont-afm-perl libfontconfig1 libfontconfig1-dev libfontenc1
packages=libfreetype6 libfreetype6-dev libftdi-dev libftdi1 libgcc-5-dev
packages=libgcc1 libgcrypt20 libgd3 libgdbm-dev libgdk-pixbuf2.0-0
packages=libgdk-pixbuf2.0-common libgdk-pixbuf2.0-dev
packages=libgetopt-long-descriptive-perl libgettextpo-dev libgettextpo0
packages=libgfortran-5-dev libgfortran3 libgirepository-1.0-1 libglapi-mesa
packages=libglib2.0-0 libglib2.0-bin libglib2.0-data libglib2.0-dev
packages=libglibmm-2.4-1v5 libglibmm-2.4-dev libgme0 libgmp-dev libgmp10
packages=libgmpxx4ldbl libgnutls-openssl27 libgomp1 libgpg-error0 libgpm2
packages=libgraphite2-3 libgs9 libgs9-common libgsm1 libgssapi-krb5-2
packages=libgssapi3-heimdal libgtk2.0-0 libgtk2.0-bin libgtk2.0-common
packages=libgtk2.0-dev libharfbuzz-dev libharfbuzz-gobject0 libharfbuzz-icu0
packages=libharfbuzz0b libhcrypto4-heimdal libhdb9-heimdal
packages=libheimbase1-heimdal libheimntlm0-heimdal libhogweed4
packages=libhtml-form-perl libhtml-format-perl libhtml-parser-perl
packages=libhtml-tagset-perl libhtml-tree-perl libhttp-cookies-perl
packages=libhttp-daemon-perl libhttp-date-perl libhttp-message-perl
packages=libhttp-negotiate-perl libhx509-5-heimdal libi2c-dev libice-dev
packages=libice6 libicu-dev libidn11 libijs-0.35 libilmbase-dev libilmbase12
packages=libimport-into-perl libindirect-perl libintl-perl libio-html-perl
packages=libio-socket-inet6-perl libio-socket-ssl-perl libio-stringy-perl
packages=libipc-system-simple-perl libjbig-dev libjbig0 libjbig2dec0
packages=libjpeg-dev libjpeg-turbo8 libjpeg-turbo8-dev libjpeg8 libjpeg8-dev
packages=libjs-inherits libjs-jquery libjs-node-uuid libjs-underscore
packages=libk5crypto3 libkdc2-heimdal libkeyutils1 libkmod2 libkpathsea6
packages=libkrb5-26-heimdal libkrb5-3 libkrb5support0 liblapack-dev liblapack3
packages=liblcms2-2 liblcms2-dev libldap-2.4-2 libldb1
packages=liblexical-sealrequirehints-perl liblist-moreutils-perl
packages=liblocale-gettext-perl liblockfile-bin liblockfile1
packages=liblog-message-perl liblog-message-simple-perl libltdl-dev libltdl7
packages=liblua5.1-0 liblwp-mediatypes-perl liblwp-protocol-https-perl
packages=liblzma-dev liblzma5 liblzo2-2 libmagic1 libmail-sendmail-perl
packages=libmailtools-perl libmodplug1 libmodule-build-perl
packages=libmodule-implementation-perl libmodule-pluggable-perl
packages=libmodule-runtime-perl libmodule-signature-perl libmoo-perl
packages=libmoox-handlesvia-perl libmount1 libmp3lame0 libmpc3 libmpdec2
packages=libmro-compat-perl libmultidimensional-perl
packages=libnamespace-autoclean-perl libnamespace-clean-perl libncurses5
packages=libncurses5-dev libncursesw5 libncursesw5-dev libnet-dbus-perl
packages=libnet-http-perl libnet-smtp-ssl-perl libnet-ssleay-perl libnettle6
packages=libnl-3-200 libnl-genl-3-200 libntdb1 libogg0
packages=libopenexr-dev libopenexr22 libopts25 libopus0 liborc-0.4-0
packages=libp11-kit0 libpackage-constants-perl libpackage-stash-perl
packages=libpackage-stash-xs-perl libpadwalker-perl libpam-modules
packages=libpam-modules-bin libpam-runtime libpam-systemd libpam0g
packages=libpango-1.0-0 libpango1.0-dev libpangocairo-1.0-0 libpangoft2-1.0-0
packages=libpangoxft-1.0-0 libpaper-utils libpaper1 libparams-classify-perl
packages=libparams-util-perl libparams-validate-perl libpath-tiny-perl
packages=libpcre16-3 libpcre3 libpcre3-dev libpcre32-3 libpcrecpp0v5
packages=libpcsclite1 libpipeline1 libpixman-1-0 libpixman-1-dev
packages=libpod-latex-perl libpod-markdown-perl libpod-readme-perl
packages=libpolkit-agent-1-0 libpolkit-backend-1-0 libpolkit-gobject-1-0
packages=libpopt0 libpotrace0 libptexenc1 libpthread-stubs0-dev libpython-dev
packages=libpython-stdlib libpython2.7 libpython2.7-dev libpython2.7-minimal
packages=libpython2.7-stdlib libpython3-dev libpython3-stdlib libraw1394-11
packages=libraw1394-dev libraw1394-tools libroken18-heimdal librole-tiny-perl
packages=librtmp1 libsasl2-2 libsasl2-modules libsasl2-modules-db libseccomp2
packages=libselinux1 libsemanage-common libsemanage1 libsepol1 libshine3
packages=libsigc++-2.0-0v5 libsigc++-2.0-dev libsigsegv2 libslang2 libsm-dev
packages=libsm6 libsmartcols1 libsocket6-perl libsoftware-license-perl
packages=libsoxr0 libspeex1 libsqlite3-0 libsqlite3-dev libss2 libssh-gcrypt-4
packages=libssl-dev libssl-doc libssl1.0.0 libstdc++-5-dev libstdc++6
packages=libstrictures-perl libsub-exporter-perl
packages=libsub-exporter-progressive-perl libsub-identify-perl
packages=libsub-install-perl libsub-name-perl libswresample-dev libswscale-dev
packages=libsynctex1 libsys-hostname-long-perl libsystemd0 libtalloc2
packages=libtasn1-6 libtcl8.5 libtcl8.6 libtdb1 libterm-ui-perl libtevent0
packages=libtext-iconv-perl libtext-soundex-perl libtext-template-perl
packages=libtext-unidecode-perl libthai-data libthai0 libtheora0
packages=libtie-ixhash-perl libtiff5 libtiff5-dev libtiffxx5 libtimedate-perl
packages=libtinfo-dev libtinfo5 libtk8.5 libtk8.6 libtool libtry-tiny-perl
packages=libtwolame0 libtype-tiny-perl libtype-tiny-xs-perl libubsan0 libudev1
packages=libunicode-utf8-perl liburi-perl libusb-0.1-4 libusb-1.0-0
packages=libusb-1.0-0-dev libusb-1.0-doc libusb-dev libustr-1.0-1 libutempter0
packages=libuuid1 libv4l-0 libv4lconvert0 libvariable-magic-perl libvorbis0a
packages=libvorbisenc2 libwavpack1 libwbclient0 libwebp-dev libwind0-heimdal
packages=libwrap0 libwww-perl libwww-robotrules-perl libx11-6 libx11-data
packages=libx11-dev libx11-doc libx11-protocol-perl libx11-xcb-dev libx11-xcb1
packages=libxau-dev libxau6 libxaw7 libxcb-dri2-0 libxcb-dri2-0-dev
packages=libxcb-dri3-0 libxcb-dri3-dev libxcb-glx0 libxcb-glx0-dev
packages=libxcb-present-dev libxcb-present0 libxcb-randr0 libxcb-randr0-dev
packages=libxcb-render0 libxcb-render0-dev libxcb-shape0 libxcb-shape0-dev
packages=libxcb-shm0 libxcb-shm0-dev libxcb-sync-dev libxcb-sync1
packages=libxcb-xfixes0 libxcb-xfixes0-dev libxcb1 libxcb1-dev
packages=libxcomposite-dev libxcomposite1 libxcursor-dev libxcursor1
packages=libxdamage-dev libxdamage1 libxdmcp-dev libxdmcp6 libxext-dev
packages=libxext6 libxfixes-dev libxfixes3 libxft-dev libxft2 libxi-dev libxi6
packages=libxinerama-dev libxinerama1 libxml-libxml-perl
packages=libxml-namespacesupport-perl libxml-parser-perl libxml-sax-base-perl
packages=libxml-sax-expat-perl libxml-sax-perl libxml-twig-perl
packages=libxml-xpathengine-perl libxml2 libxml2-dev libxml2-utils libxmu-dev
packages=libxmu-headers libxmu6 libxmuu1 libxpm4 libxrandr-dev libxrandr2
packages=libxrender-dev libxrender1 libxshmfence-dev libxshmfence1
packages=libxslt1-dev libxslt1.1 libxss-dev libxss1 libxt-dev libxt6 libxtst6
packages=libxv1 libxvidcore4 libxxf86dga1 libxxf86vm1 libyaml-0-2 
packages=libyaml-tiny-perl libzip-dev libzip4 libzvbi-common libzvbi0
packages=libzzip-0-13 libzzip-dev linux-firmware linux-libc-dev lmodern
packages=locales lockfile-progs login logrotate lsb-base lsb-release lsof m4
packages=make makedev man-db manpages manpages-dev mawk mesa-common-dev
packages=mime-support module-init-tools mount multiarch-support nano ncdu
packages=ncurses-base ncurses-bin ncurses-term net-tools netbase ntp ntpdate
packages=openssh-client openssh-server openssh-sftp-server openssl
packages=pandoc pandoc-data passwd patch perl perl-base perl-modules-5.26
packages=pkg-config po-debconf policykit-1 poppler-data procps psmisc python
packages=python-apt-common python-crypto python-dev python-dnspython python-gi
packages=python-gi-dev python-ldb python-minimal python-ntdb
packages=python-pkg-resources python-samba python-setuptools
packages=python-talloc python-tdb python-tk python2.7 python2.7-dev
packages=python2.7-minimal python3 python3-apt python3-chardet python3-dbus
packages=python3-dev python3-gi python3-minimal python3-pkg-resources
packages=python3-pycurl python3-requests python3-setuptools python3-six
packages=python3-software-properties python3-urllib3 readline-common rename
packages=resolvconf rsync rsyslog samba samba-common samba-common-bin
packages=samba-dsdb-modules samba-libs samba-vfs-modules sed sensible-utils
packages=sgml-base shared-mime-info software-properties-common ssh
packages=ssh-import-id sudo swig systemd systemd-sysv sysvinit-utils tar tcl
packages=tcl-dev tcl8.5 tcl8.5-dev tcl8.6 tcl8.6-dev tcpd tdb-tools tex-common
packages=texinfo tk tk-dev tk8.5 tk8.5-dev tk8.6 tk8.6-blt2.5 tk8.6-dev tree
packages=tzdata ubuntu-keyring ucf udev unattended-upgrades unzip update-inetd
packages=usbutils util-linux vim vim-common vim-runtime wget wpasupplicant
packages=x11-common x11proto-composite-dev x11proto-core-dev
packages=x11proto-damage-dev x11proto-fixes-dev x11proto-gl-dev
packages=x11proto-input-dev x11proto-kb-dev x11proto-randr-dev
packages=x11proto-render-dev x11proto-scrnsaver-dev x11proto-xext-dev
packages=x11proto-xinerama-dev xauth xbitmaps xdg-user-dirs xdg-utils
packages=xml-core xorg-sgml-doctools xterm xtrans-dev xz-utils zip zlib1g
packages=zlib1g-dev wireless-tools libcurl4-openssl-dev libcgraph6
packages=libgraphviz-dev gdb strace valgrind libreadline-dev
packages=graphviz iw ccache fake-hwclock libruby ruby rubygems-integration
packages=xserver-xorg xinit swig3.0 nodejs-dev libcanberra-gtk-module
packages=fluxbox bluez bluez-tools xorg eterm gnome-icon-theme-symbolic
packages=fakeroot fakechroot libsensors4-dev isc-dhcp-server haveged
packages=python3-wheel python3-netifaces python3-skimage
packages=libgtest-dev libboost-all-dev uuid-dev libyaml-dev
packages=opencl-headers ocl-icd-dev ocl-icd-opencl-dev libsysfs-dev
packages=libgoogle-glog-dev libeigen3-dev devmem2 at-spi2-core
packages=libjemalloc-dev libjemalloc1 libgoogle-glog0v5
packages=libgflags-dev libgflags2.2
