/* VCK190 board-specific device-tree nodes (appended to the machine's SDT base
 * dts at bitbake time via PYNQ_BOARD_DTSI). */

/ {
	aliases {
		nvmem0 = &eeprom;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x20000000>;
			alignment = <0x0 0x2000>;
			/* Pin the cma pool to the low 2 GB DDR bank so the FPGA-manager
			 * PDI DMA gets DMA-reachable contiguous memory. */
			alloc-ranges = <0x0 0x0 0x0 0x80000000>;
			linux,cma-default;
		};
	};
};

&i2c1 {
	i2c-mux@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		i2c-mux-idle-disconnect;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			eeprom: eeprom@54 {
				compatible = "st,24c128", "atmel,24c128";
				reg = <0x54>;
			};
		};
	};
};
