

<img src="./assets/images/231862217-A_AMD_Pynq_Lockup_RGB_Blk.svg#center" style="height: 150px;">

<!--<div id="announcement">
<span class="close-btn" onclick="closeAnnouncement()">&times;</span>
<p style="font-weight: bold;">Attention PYNQ users!</p>
<p>Discover the <a href="https://www.hackster.io/contests/amd2023">AMD Pervasive AI Developer Contest</a> for your chance to win cash prizes by creating AI projects on AMD platforms. Categories include Generative AI with AMD GPUs; Robotics AI with Kria KR260, where you can use <a href="https://github.com/Xilinx/Kria-PYNQ">Kria-PYNQ</a> and <a href="https://github.com/Xilinx/DPU-PYNQ">DPU-PYNQ</a>; PC AI with AMD Ryzen™ AI
</p>
<p>
To participate visit the <a href="https://www.hackster.io/contests/amd2023">contest webpage</a> for guidelines and resources.
</p>
</div>
<script>
	function closeAnnouncement() {
		document.getElementById("announcement").style.display = "none";
	}

	// Display the announcement initially
	document.getElementById("announcement").style.display = "block";
</script>-->
   <hr>
	 <div class="menu_container">
	  <nav>
	   <ul class="pynq_menubar">
		<li><a href="./">Home</a></li>
		<li><a href="http://pynq.readthedocs.io/en/latest/getting_started.html">Get Started</a></li>
		<li><a href="./boards.html">Boards</a></li>
		<li><a href="./community.html">Community</a></li>
		<li><a href="http://www.github.com/xilinx/pynq">Source Code</a></li>
		<li><a href="https://discuss.pynq.io">Support</a></li>
	   </ul>
	  </nav>
	 </div> 
  <hr>