/include/ "system-conf.dtsi"
/ {
	amba {

		audio0:audio-codec-ctrl@43c00000 {
			compatible = "xlnk,audio-codec-ctrl-1.0";
			reg = <0x43c00000 0x10000>;
		};

		ethernet@e000b000 {
			phy-handle = <&ethernet_phy>;
			ethernet_phy: ethernet-phy@1{
				reg = <1>;
			};
		};
	};
        usb_phy0: phy0 {
                compatible = "ulpi-phy";
                #phy-cells = <0>;
                reg = <0xe0002000 0x1000>;
                view-port = <0x170>;
                drv-vbus;
        };
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&audio0 {
		compatible = "generic-uio";
};

&usb0 {
        usb-phy = <&usb_phy0>;
};

