[Unit]
Description=PYNQ Remote Server Application
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/pynq-remote
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pynq-remote
User=root

[Install]
WantedBy=multi-user.target
