# docs requirements file

# For Juyter Notebooks in Sphinx

numpy
matplotlib
nbsphinx
cffi
jupyter_client
ipython
pytest
netifaces
pandas
sphinx_copybutton
git+https://github.com/xilinx/pynq-metadata@main#egg=pynqmetadata
git+https://github.com/xilinx/pynq-utils@main#egg=pynqutils